<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="43746cc8-7b76-4977-891b-27343b00ba21" Publisher="CN=victor sergio" Version="1.0.0.4" />
  <Properties>
    <DisplayName>ReadyForMars</DisplayName>
    <PublisherDisplayName>victor sergio</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ReadyForMars.App">
      <VisualElements DisplayName="ReadyForMars" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ReadyForMars" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>